.about {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	padding: 10% 10% 0% 10%;
	.about__photo {
		img {
		width: 50%;
		position: absolute;
		top: 12%;
		left: 0;
		z-index: -1;
		}
	}
	.about__photo--mobile {
		display: none;
	}
	.about__text {
		text-align: right;
		h2 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		h5 {
			margin-top: 0;
			margin-bottom: 20px;
		}
		p {
			margin-left: 51%;
			margin-top: 0;
			margin-bottom: 40px;
			a {
				color: $secondaryColor;
				text-decoration: none;
				border-bottom: 2px solid darkcyan;
				transition: 0.3s all ease;
			}
			a:hover {
				border-bottom: 2px solid white;
			}
		}
	}

}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.about .about__photo img {
		display: none;
	}
	.about .about__photo--mobile {
		display: flex;
		flex-wrap: wrap;
		img {
			width: 100%;
			align-self: center;
			margin-bottom: 30px;
			-webkit-clip-path: circle(50% at 50% 50%);
		}
	}
	.about .about__text p {
		margin-left: 0;
		text-align: left;
	}
	.about h2 {
		font-size: 65px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.about h2 {
		font-size: 45px;
	}
 
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.about h2 {
		font-size: 35px;
	}

}